* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'RetroGaming';
    src: url('./assets/font/retro_gaming/RetroGaming.woff') format('woff'), /* Modern Browsers */
         url('./assets/font/retro_gaming/RetroGaming.woff2') format('woff2'), 
         url('./assets/font/retro_gaming/RetroGaming.ttf')  format('truetype') /* Safari, Android, iOS */
}
body {
    background-color: #408880;
}
#root {
    height: 100vh;
    background-image: url(./assets/images/background.png);
    background-size: cover;
    background-position-y: center;
    font-family: 'RetroGaming';
}

.center-text {
    text-align: center;
}
main {
    display: flex;
    height: 89vh;
}
.text-box {
    background: #F2FCFF;
    border: 5px solid #A3D2ED;
    box-sizing: border-box;
    border-radius: 42px;
}
input {
    background-color: #cac4c4;
    border: 0;
    border-radius: 4px;
    font-family: "RetroGaming";
    font-size: 16px;
    height: 37px;
    margin-bottom: 1rem;
    margin-top: 6px;
    width: 100%;
    min-width: 18em;
    transition: all 250ms ease-in-out;
}
input:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

input:focus {
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    outline: none;
}

button {
    font-family: "RetroGaming";
    font-size: 20px;
    border-radius: 42px;
    padding: 10px;
}

button:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

button:focus {
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    outline: none;
}


.user-form {
    width: 606px;
    height: 822px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.break {
    margin: 1rem 0;
}