* {
    padding: 0px;
    margin: 0px;
}
#root {
    height: 100vh;
    background-image: url(./assets/images/background.png);
    background-size: cover;
    background-position-y: center;
}
header {
    background: linear-gradient(
        0deg
        , rgba(95,100,107,0) 0%,
         rgba(95,100,107,0.25) 25%,
          rgba(95,100,107,0.5) 50%,
           rgba(95,100,107,0.75) 75%,
            rgba(95,100,107,1) 100%);
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokeball-container {
    width: 5rem;
    height: 5rem;
}
.pokeball-top {
    box-sizing: border-box;
    background-color: rgba(219,34,34,1);
    width: 100%;
    height: 50%;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
    border: 2px black solid;
}
.pokeball-button {
    box-sizing: border-box;
    background-color: white;
    height: 70%;
    width: 35%;
    border-radius: 100%;
    border: 3px solid black;
    position: relative;
    left: 32%;
    top: 65%;
}
.pokeball-bottom {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 40rem;
    border-bottom-right-radius: 40rem;
    border: 2px black solid;
}