* {
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "RetroGaming";
  src: url("../../assets/font/retro_gaming/RetroGaming.woff") format("woff"),
    /* Modern Browers*/ url("../../assets/font/retro_gaming/RetroGaming.woff2")
      format("woff2"),
    url("../../assets/font/retro_gaming/RetroGaming.ttf") format("truetype")
      /* Safari, Android, iOs */;
}
.login-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 606px;
  height: 822px;
  left: 314px;
  top: 101px;
  border: 5px solid #a3d2ed;
  box-sizing: border-box;
  border-radius: 42px;
  background: #f2fcff;
}
.header {
  font-family: "RetroGaming";
  font-size: 32px;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
input {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  font-family: "RetroGaming";
  font-size: 16px;
  height: 37px;
  margin-bottom: 31px;
  margin-top: 6px;
  min-width: 18em;
  padding: 0px 10px;
  transition: all 250ms ease-in-out;
}

input:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

input:focus {
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
  outline: none;
}

button {
  background-image: url(/client/src/assets/images/PngItem_1075267.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
}

button:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

button:focus {
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
  outline: none;
}
.break {
  font-family: "RetroGaming";
  font-size: 24px;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  /* this will be applied on any screen smaller than 980px */
  .header {
    padding: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
  .hero-cta,
  .hero-form {
    width: 100%;
  }
  .hero-cta {
    text-align: center;
  }
  .section-title {
    width: 80%;
  }
  .trainer {
    flex: 0 70%;
  }
  .contact-info iframe {
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  /* this will be applied on any screen between 768px and 575px */
  section {
    padding: 30px 15px;
  }
  .step h3 {
    flex: 1 100%;
    text-align: center;
  }
  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }
  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .step-text {
    flex: 100%;
  }
  .service-grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .service-grid-item.basic {
    grid-column: 1 / span 1;
  }
  .service-grid-item.both {
    grid-column: 1 / span 2;
  }
  .service-grid-item.cancel {
    writing-mode: unset;
    transform: none;
    grid-row: -1;
    grid-column: 1 / -1;
  }
  .trainer-img h3 .trainer-img h4 .trainer-img::after {
    display: none;
  }
  .trainer-bio h3,
  .trainer-bio h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  /* this will be applied on any screen smaller than 575px */
  .hero-form button {
    width: 100%;
  }
  .section-title {
    width: 95%;
  }
  .intro p {
    width: 100%;
  }
  .trainer {
    flex: 0 100%;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  }
}
