* {
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "RetroGaming";
  src: url("../../assets/font/retro_gaming/RetroGaming.woff") format("woff"),
    /* Modern Browers*/ url("../../assets/font/retro_gaming/RetroGaming.woff2")
      format("woff2"),
    url("../../assets/font/retro_gaming/RetroGaming.ttf") format("truetype")
      /* Safari, Android, iOs */;
}
.login-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 606px;
  height: 822px;
  left: 314px;
  top: 101px;
  border: 5px solid #a3d2ed;
  box-sizing: border-box;
  border-radius: 42px;
  background: #f2fcff;
}
.header {
  font-family: "RetroGaming";
  font-size: 32px;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
input {
  background-color: #cac4c4;
  border: 0;
  border-radius: 4px;
  font-family: "RetroGaming";
  font-size: 16px;
  height: 37px;
  margin-bottom: 31px;
  margin-top: 6px;
  min-width: 18em;
  padding: 0px 10px;
  transition: all 250ms ease-in-out;
}

input:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

input:focus {
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
  outline: none;
}

button {
  font-size: 20px;
  border-radius: 42px;
  padding: 10px;
}

button:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

button:focus {
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
  outline: none;
}
.break {
  font-family: "RetroGaming";
  font-size: 24px;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  /* this will be applied on any screen smaller than 980px */
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  /* this will be applied on any screen between 768px and 575px */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  /* this will be applied on any screen smaller than 575px */
}
